:root {
    --primary-color: #056DE7;
    --gray-color-1: #fafafb;
    --gray-color-2: #f2f2f2;
    --gray-color-3: #e6e6e6;
    --gray-color-4: #8e8e8e;
    --black-color: #000;
    --primary-gradient: linear-gradient(135deg, #057ce7 0%, #2696fa 50%, #05b0e7 100%);
    --primary-gradient-hover: linear-gradient(135deg, #05b0e7 0%, #2696fa 50%, #057ce7 100%);


    --font-family-base: Inter, Arial, Helvetica, serif;
    --font-size-h1: 88px;
    --font-size-h2: 72px;
    --font-size-h3: 24px;
    --font-size-h4: 18px;
    --font-size-small: 14px;
    --line-height-h1: 100px;
    --line-height-h2: 85px;
    --line-height-h3: 30px;
    --line-height-h4: 22px;

    --menuGap: 110px;
}

@media screen and (max-width: 1700px) {
    :root {
        --menuGap: 50px;
    }
}
