@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  cursor: default;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 40px;
}

h1, h2, h3, h4 {
  margin: 0;
}

.styled-tags-wrapper {
  display: flex;
  gap: 19px;
  flex-wrap: wrap;

  .styled-tag {
    display: flex;
    padding: 8px 12px;
    gap: 8px;
    background: var(--primary-color);
    color: #fff;
    line-height: 1;
    font-size: var(--font-size-h4);
    border-radius: 48px;
  }
}

@media screen and (max-width: 1700px) {
  .container {
    margin: 0 auto;
    max-width: 1600px;
  }
}

@media screen and (max-width: 1480px) {
  .container {
    margin: 0 auto;
    max-width: 1400px;
  }
}


@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    max-width: none;
    padding: 0 2%;
  }
}
