.entity-section.container {
    display: flex;
    gap: 20px;
    margin-top: 69px;
    margin-bottom: 95px;
}

.entity-summary {
    --padding: 24px;

    min-width: 445px;
    display: flex;
    gap: 19px;
    flex-direction: column;

    .entity-back, .entity-summary-block {
        border: 1px solid var(--gray-color-3);
        border-radius: 20px;
        padding: var(--padding);
    }

    .entity-back {
        display: inline-block;
        position: relative;
        padding-left: calc(var(--padding) + 33px);
        width: fit-content;
        font-family: var(--font-family-alt);

        &:before {
            content: ' ';
            display: block;
            width: 8px;
            height: 16px;
            background: url('@/assets/images/arrow_back.svg') no-repeat center;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: var(--padding);
        }
    }

    .entity-summary-block {
        display: flex;
        gap: 8px;
        flex-direction: column;

        .entity-summary-title {
            color: var(--gray-color-4);
            font-family: var(--font-family-alt);
        }
    }

}

.entity-details {
    display: flex;
    gap: 24px;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
    }
}

.entity-cover-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .entity-cover {
        width: 445px;
    }

    .base-button {
        padding-left: 63px;
        padding-right: 63px;
    }
}

.entity-lead, .entity-description-wrapper {
    max-width: 910px;
}

.entity-page-header {
    text-transform: uppercase;
    color: var(--gray-color-4);
    margin-bottom: 19px;
}

.entity-relative {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
