.banner-section {
    position: relative;

    .container {
        height: 777px;
    }
}
.banner-text {
    max-width: 48%;
    margin-top: 58px;
    h1 {
        margin: 0;
    }
    .base-button {
        margin-top: 31px;
        padding: 0;

        a {
            padding: var(--button-padding);
            display: inline-block;
        }
    }
}
.banner-image-wrapper {
    max-width: 48%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right top;
    }

    .banner-image-text {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        padding: 60px 40px;
        text-align: center;
        color: #fff;
        background-color: var(--primary-color);
        line-height: 1;

        small {
            display: block;
            margin-top: 32px;
        }
    }
}

.documents-section {
    margin-top: 58px;
    text-align: center;

    h2 {
        text-transform: uppercase;
        margin-bottom: 47px;
    }

    .container {
        max-width: 1180px;
    }

    .book-card {
        margin: 0 42px;
        transition: opacity 0.25s ease-in-out;

        .book-cover {
            padding: 0;
            background-color: transparent;

            img {
                width: 100%;
            }
        }

        &.center {
            max-width: 346px;
        }

        &:not(.center) {
            opacity: 0.1;
            .book-author, .book-tags, .book-button {
                display: none;
            }

            .book-cover {
                img {
                    max-height: 240px;
                }
            }

            .book-title {
                font-size: 18px;
            }
        }
    }
}

.carousel-wrapper {
    margin-top: 106px;
}

.carousel-hint {
    margin-top: 97px;
    text-align: center;
    position: relative;
    line-height: 1;
    font-size: var(--font-size-h3);

    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(106deg, #057ce7 0%, #2696fa 50%, #05b0e7 100%);

    &:before {
        content: ' ';
        display: block;
        width: 28px;
        height: 13px;
        background: url('@/assets/images/arrows.png');
        position: absolute;
        top: -31px;
        left: 50%;
        margin-left: -14px;
    }
}

.partners-section {
    background: var(--gray-color-1);
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;

    .partners-logos {
        margin: 40px auto 0;
        max-width: 590px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px 38px;
        align-items: center;

        img {
            max-height: 90px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .banner-image-wrapper {
        display: none;
    }

    .banner-section .container {
        height: auto;
    }

    .banner-text {
        margin-top: 0;
        max-width: none;
    }
}
